@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
}

:root {
  --radius: 0.75rem;

  --background: oklch(0.99 0 0);
  --foreground: oklch(0.15 0.02 260);

  --card: oklch(0.985 0 0);
  --card-foreground: oklch(0.15 0.02 260);

  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(0.15 0.02 260);

  --primary: oklch(0.6 0.23 28);
  --primary-foreground: oklch(0.98 0.01 250);

  --secondary: oklch(0.94 0.01 260);
  --secondary-foreground: oklch(0.2 0.02 260);

  --muted: oklch(0.94 0.01 260);
  --muted-foreground: oklch(0.55 0.03 260);

  --accent: oklch(0.94 0.01 260);
  --accent-foreground: oklch(0.2 0.02 260);

  --destructive: oklch(0.62 0.26 27);

  --border: oklch(0.9 0.01 260);
  --input: oklch(0.9 0.01 260);
  --ring: oklch(0.6 0.23 28);
}

.dark {
  --background: linear-gradient(135deg, #1b0000 0%, #440000 50%, #000000 100%);
  --foreground: oklch(0.98 0.01 250);

  --card: oklch(0.16 0.02 0.02); /* very dark red */
  --card-foreground: oklch(0.98 0.01 250);

  --popover: oklch(0.16 0.02 0.02);
  --popover-foreground: oklch(0.98 0.01 250);

  --primary: oklch(0.65 0.26 0.02);
  --primary-foreground: oklch(0.98 0.01 250);

  --secondary: oklch(0.25 0.02 0.02);
  --secondary-foreground: oklch(0.98 0.01 250);

  --muted: oklch(0.25 0.02 0.02);
  --muted-foreground: oklch(0.7 0.03 250);

  --accent: oklch(0.3 0.03 0.02);
  --accent-foreground: oklch(0.98 0.01 250);

  --destructive: oklch(0.7 0.22 27);

  --border: oklch(0 0 0 / 10%);
  --input: oklch(0 0 0 / 15%);
  --ring: oklch(0.65 0.26 28);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-custom), serif;
    @apply bg-background text-foreground;
  }
}
